# Usando regresiones lineales para identificar puntos de datos que tengan influencia significativa  
  
Vamos a utilizar modelos estadísticos para identificar valores atípicos (outliers).  
Ventajas:
1. Las técnicas estadísticas nos permiten ser menos dependientes de la distribución de la variable de interés.
2. Consideran más factores que los análisis univariados y bivariados.
3. Esto quiere decir que nos permiten identificar valores atípicos que no se revelan en una primera instancia.

Incluimos nuestros paquetes y utilizaremos los datos del covid

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
covid = pd.read_csv("data/covidtotals.csv")
covid.set_index("iso_code", inplace =True)

In [3]:
covid.head()

,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
iso_code,,,,,,,,,,,
AFG,2020-06-01,Afghanistan,15205,257,390.589,6.602,38928341.0,54.422,18.6,1803.987,0.50
ALB,2020-06-01,Albania,1137,33,395.093,11.467,2877800.0,104.871,38.0,11803.431,2.89
DZA,2020-06-01,Algeria,9394,653,214.225,14.891,43851043.0,17.348,29.1,13913.839,1.90
AND,2020-06-01,Andorra,764,51,9888.048,660.066,77265.0,163.755,NaN,NaN,NaN
AGO,2020-06-01,Angola,86,4,2.617,0.122,32866268.0,23.890,16.8,5819.495,NaN

Existen razon conceptuales para pensar que la densidad de población ``population_density``, la edad promedio ``median_age`` y el PIB per capita ``gdp_per_capita`` pueden ser predictores del total de casos de covid por millón de habitantes ``total_cases_pm``.

In [4]:
variables =['pop_density', 'median_age', 'gdp_per_capita']

In [5]:
analisis = covid.loc[:,['total_cases_pm']+ variables].dropna()

In [6]:
analisis.describe()

       total_cases_pm  pop_density  median_age  gdp_per_capita
count      175.000000   175.000000  175.000000      175.000000
mean      1134.015709   247.151863   30.537143    19008.385423
std       2101.363772   822.398967    9.117751    19673.386571
min          0.000000     1.980000   15.100000      661.240000
25%         67.448000    36.066000   22.300000     4458.202500
50%        263.413000    82.328000   29.700000    12951.839000
75%       1357.506000   207.960000   38.700000    27467.146000
max      19753.146000  7915.731000   48.200000   116935.600000

### Ajuste a un modelo de regresión lineal

In [7]:
def obtenerML(df):
    Y = df.total_cases_pm
    X = df[['pop_density', 'median_age','gdp_per_capita']]
    X = sm.add_constant(X)
    return sm.OLS(Y,X).fit()

In [8]:
ml = obtenerML(analisis)

AttributeError: 'DataFrame' object has no attribute 'sm'